.card {
  width: 602px;
  margin: auto;
}

@media (max-width: 1400px) and (min-width: 650px) {
  .card {
    width: 702px;
  }
}

@media (max-width: 650px) {
  .card {
    max-width: 502px;
  }
}

.header {
  margin-top: 0.5rem;
  color: #6c757d;
  margin: 1rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem); /* Adjust dynamically */
  line-height: 1.5;
}