.card {
  width: 602px;
}

@media (max-width: 1400px) and (min-width: 650px) {
  .card {
    width: 702px;
  }
}

@media (max-width: 650px) {
  .card {
    max-width: 502px;
  }
  .header {
    font-size: 0.9rem !important;
    color: green;
  }
}

.header{
  margin-top: 0.5rem;
  color: #6c757d;
  margin: 1rem;
  font-size: 1.1rem;
  line-height: 1.5 !important;
}